body {
    background-color: #232323 ;
    color: white;
    margin: 50px;
}	

.lorem{
    color: gray;
    font-size: 15px;
}

p{
    color:#cccccc;
    font-size: 15px;
}

h1{
    font-size: 20px;
    font-weight: normal;
}

button{
    background-color: #232323;
    border-style: groove;
    border-color: darkgray;
    color: lightgray;
    margin-bottom: 10px;
    padding: 8px;
}

img{
    padding: 8px;
}

i{
    border-style: groove;
    border-color: darkgray;
    color: darkgray;
    width: 40px;
    padding: 8px;
    text-align: center;
}

#Blog{
    margin-bottom: 30px;
}
hr{
    border: 1px inset darkgray;
}

.labels{
    margin-top: 15px; 
    margin-bottom: 0px;
}

.cat{
    margin-left: 15px;
}

.date{
    color: gray;
}